.loader {
  border: 16px solid #f3f3f3;
  border-color: rgba(255, 255, 255, .1);
  border-top: 16px solid #80aaff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body{
    background-image: url('https://wallpaperaccess.com/full/5113.jpg');
    /* background-image: url('https://www.itl.cat/pngfile/big/222-2226827_4k-wallpaper-abstract.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

/* Frosted Glass Effect */
.blurred-box{
  background-color: rgba(255, 255, 255, .1);  
  backdrop-filter: blur(8px);
}

/* Mobile View */
@media only screen and (max-width: 909px){
  .main-player{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 55.5%;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .1);  
    backdrop-filter: blur(8px);
  }
  
  .playlist{
    position: absolute;
    top: 66%;
    left: 10%;
    width: 80%;
    height: 24%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 5px;
  }

  .playlist-card{
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(30px);
    text-align: center;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
  }

  .playlist-artwork{
    border-radius: inherit;
    height: 95px;
    width: 95px;
    margin-bottom: 5px;
  }
}

/* Desktop View */
@media only screen and (min-width: 910px){ 

  .main-player{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 51.5%;
    height: 80%;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .1);  
    backdrop-filter: blur(8px);
  }
  
  .playlist{
    position: absolute;
    top: 10%;
    left: 62%;
    width: 28%;
    height: 80%;
    padding-right: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .playlist-card{
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  .playlist-artwork{
    border-radius: inherit;
    height: 90px;
    width: 90px;
    margin-right: 5px;
  }
}

.player-preloader{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .1);  
  backdrop-filter: blur(8px);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, .5);
}

.playlist-card-meta > h6{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12pt;
}

.playlist-card-meta > p{
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 10pt;
}
